.site-page-header-ghost-wrapper {
  .ant-page-header-footer {
    padding-left: 30px;
    width: 200px;
  }
}
.media-main {
  .empty{
    display: none;
  }
  .folder-wrapper {
    .folder {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      &-image {
        width: 100px;
        height: 100px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p {
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.6rem;
      }
    }
  }
  .asset-wrapper {
    margin-top: 50px;
    .asset {
      .asset-image {
        width: 200px;
        height: 200px;
        position: relative;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .ant-image {
          height: 100%;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      p{
        width: 200px;
        text-align: center;
        margin-top:10px;
      }
    }
  }
  .ant-row {
    height: 50vh;
  }
}
.folder-input {
  border: 1px solid $text-second-color;
  width: 60%;
  padding: 10px;
}
.ant-image-preview-img-wrapper {
  @include flex(center, center);
}
.ant-image-preview-img-wrapper::before {
  display: none;
}
.loading {
  height: 100vh;
  @include flex(center, center);
}
// .ant-checkbox-wrapper {
//   position: absolute;
//   top: 0;
//   right: 0;
// }
.buttonDelete {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
}
